html {
    background-color: #171718;
}

body {
    margin: 0px 0px 32px 0px;
}

a {
    text-decoration: none;
    color: rgba(92, 98, 236, 1);
}

.header {
    font-family: "Sawarabi Gothic", sans-serif;
    font-style: normal;
    width: 100%;
    height: 68px;
    border-bottom: 1px solid rgba(38, 41, 45, 1);
    display: inline-grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;

    &__menu {
        margin: 0px 142px 0px 0px;
        padding: 0px;
    }

    &__logo {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #ffffff;
        margin-left: 142px;

        &:hover {
            cursor: pointer;
        }
    }
}

.logo {
    font-family: "Sawarabi Gothic", sans-serif;
    font-style: normal;

    &:hover {
        cursor: pointer;
    }
}

.navigation {
    font-family: "Sawarabi Gothic", sans-serif;
    font-style: normal;

    &__list {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #ffffff;
        list-style-type: none;
        display: inline-grid;
        grid-template-columns: repeat(4, auto);
        grid-column-gap: 23px;
        margin: 0px;
        padding: 0px;

        li:hover {
            cursor: pointer;
        }

        &--items {
            grid-template-columns: auto;
            row-gap: 24px;
            margin-top: 64px;
        }

        &-item {
            &--special {
                color: #85bfd1;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.15px;
            }

            a {
                color: #ffffff;
            }

            li:hover {
                cursor: pointer;
            }
        }

        &__footer {
            margin-top: 64px;
            margin-bottom: 64px;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: rgba(255, 255, 255, 1);
            column-gap: 129px;
            row-gap: 24px;
            align-items: flex-start;
        }
    }
}

.button {
    font-family: "Sawarabi Gothic", sans-serif;
    font-style: normal;
    height: 48px;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

.presentation {
    display: grid;
    font-family: "Sawarabi Gothic", sans-serif;
    font-style: normal;
    &__block {
        margin: 128px auto 386px auto;
        display: grid;
        justify-items: center;
    }

    &__text {
        max-width: 60%;
        max-height: 218px;
        display: grid;
        row-gap: 16px;
    }

    &__title {
        font-family: "Sawarabi Gothic", sans-serif;
        font-style: normal;

        span {
            color: rgba(92, 98, 236, 1);
        }

        &--l {
            font-weight: bold;
            font-size: 60px;
            line-height: 71px;
            text-align: center;
            letter-spacing: -0.5px;
            color: #fafafa;
            align-self: start;
            margin: 0px;
        }
    }

    &__description {
        font-family: "Sawarabi Gothic", sans-serif;
        font-style: normal;

        &--s {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.15px;
            color: #ffffff;
            align-self: end;
            margin: 0px;
        }
    }

    &__buttons-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 24px;
        margin-top: 32px;
    }

    &__button-projects {
        width: 169px;
        background: #5c62ec;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    &__button-resume {
        width: 172px;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        grid-column-gap: 8px;
        align-items: center;
        background: none;
    }
}

.brief {
    display: grid;
    justify-content: center;
    font-family: "Sawarabi Gothic", sans-serif;
    font-style: normal;
    color: rgba(255, 255, 255, 1);

    &__card {
        max-width: 967px;
        min-height: 453px;
        background-color: rgba(28, 30, 34, 1);
        display: grid;
        align-content: center;
        grid-template-columns: auto auto;
        grid-column-gap: 32px;
        margin-bottom: 128px;
        padding: 0px 24px 0px 24px;

        &-image {
            max-width: 326px;
            grid-row-start: 1;
            grid-row-end: 3;

            &-photo {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }

        &-text {
            &-headline {
                margin: 0px;
                font-weight: 500;
                font-size: 48px;
                line-height: 57px;
            }

            &-paragraph {
                margin-top: 32px;
                margin-bottom: 0px;
                font-weight: normal;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.44px;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__button {
        width: 198px;
        align-self: end;
        background: none;
        border: 0.997936px solid #ffffff;
        box-sizing: border-box;
        border-radius: 7.98349px;
        display: inline-grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
    }
}

.projects {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0px, 1150px);
    justify-content: center;
    font-family: "Sawarabi Gothic", sans-serif;
    font-style: normal;

    &__headline {
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.25px;
        color: #ffffff;
        margin: 0px;
    }

    &__previews {
        margin-top: 64px;
        display: grid;
        row-gap: 24px;

        &-item {
            max-width: 100%;
            max-height: 534px;

            &-photo {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__button {
        margin: 32px auto 128px auto;
        width: 218px;
        display: inline-grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        background: #5c62ec;
        border-radius: 7.98349px;
        column-gap: 12px;
    }
}

.footer {
    font-family: "Sawarabi Gothic", sans-serif;
    font-style: normal;

    &__navigation {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        justify-content: start;
        column-gap: 129px;
        align-content: start;
        align-items: start;
    }

    &__container {
        max-width: 1156px;
        display: grid;
        grid-template-columns: 260px auto;
        column-gap: 129px;
        margin: auto;
        border-top: 1px solid rgba(38, 41, 45, 1);
        row-gap: 64px;

        &-logo {
            max-width: 260px;
            margin-top: 64px;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #ffffff;
            text-align: center;
            height: 30px;
            display: grid;
            align-content: center;
            justify-content: center;
        }
    }

    &__copyright {
        border-top: 1px solid rgba(38, 41, 45, 1);
        padding-top: 16px;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.4px;
        color: rgba(255, 255, 255, 1);
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

.icon:hover {
    cursor: pointer;
}

@media screen and (max-width: 1175px) {
    body {
        margin: 0px 16px 32px 16px;
    }
}

@media screen and (max-width: 1025px) {
    .footer__container {
        justify-content: center;
    }

    .footer__navigation {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 945px) {
    .brief__card {
        grid-template-columns: auto;
        padding: 24px 16px 16px 16px;
    }

    .brief__card-text {
        margin-top: 24px;
    }

    .brief__button {
        margin-top: 16px;
    }
}

@media screen and (max-width: 830px) {
    .header__navigation {
        display: none;
    }

    .presentation__block {
        margin: 72px auto 128px auto;
    }
}

@media screen and (max-width: 753px) {
    .presentation__text {
        max-width: 100%;
    }

    .footer__navigation {
        grid-template-columns: auto;
    }

    .footer__container-logo {
        margin-top: 33px;
    }

    .navigation__list--items {
        margin-top: 32px;
    }
}

@media screen and (max-width: 545px) {
    .header__logo {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.15px;
    }

    .presentation__text {
        max-width: 60%;
    }

    .presentation__title--l {
        font-size: 34px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.25px;
    }

    .presentation__description--s {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.15px;
    }

    .presentation__buttons-container {
        margin-top: 24px;
    }

    .brief__card {
        margin-bottom: 64px;
    }

    .brief__card-image {
        margin: auto;
    }

    .projects__previews {
        row-gap: 19px;
        margin-top: 32px;
    }

    .projects__button {
        margin-bottom: 64px;
        margin-top: 24px;
    }
    .footer__container {
        grid-template-columns: auto;
        row-gap: 32px;
    }

    .footer__navigation {
        justify-content: center;
        align-content: center;
    }

    .navigation__list {
        justify-items: center;
    }

    .footer__copyright {
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
    }
}

@media screen and (max-width: 455px) {

    .presentation__text {
        max-width: 80%;
    }

    .presentation__buttons-container {
        grid-template-columns: auto;
        row-gap: 16px;
    }

    .brief__card-text-headline {
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
    }

    .brief__card-text-paragraph {
        margin-top: 16px;
    }

    .projects__headline {
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
    }
}

@media screen and (max-width: 350px) {
    .presentation__text {
        max-width: 100%;
    }
}